<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col">
      <div class="d-print-none">{{displayArea}}</div>
      {{inputValue}}
    </div>
    <div class="w-100 align-items-end fixed-bottom">
      <div class="col">
        <div class="input-group mb-3 input-group-lg">
          <input #inputMessage type="text" class="form-control" placeholder="Enter your text" (keyup.enter)="inputData(inputMessage.value)"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button (click)="inputData(inputMessage.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
          </div>
        </div>
      </div> <!-- Input Coulum end-->
    </div> <!-- row 2 end-->
  </div> <!-- row 1 end-->
</div>