<div class="container-fluid">
  <div class="row justify-content-start">
    <div id="displayMessage" class="col">
      <div *ngFor="let message of messages">
        {{message}}
      </div>
    </div>
    <div class="w-100 align-items-end fixed-bottom">
      <div class="col">
        <div class="input-group mb-3 input-group-lg">
          <input [(ngModel)]="message" type="text" class="form-control" placeholder="Enter your text" (keyup.enter)="onKeyUp()"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button (click)="onKeyUp()" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
          </div>
        </div>
      </div> <!-- Input Coulum end-->
    </div> <!-- row 2 end-->
  </div> <!-- row 1 end-->
</div>