.w-100 {
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.container-fluid{
    font-size: 25px;
}