/* You can add global styles to this file, and also import other style files */

html, body {
    text-align: left;
    font-family: 'Montserrat';
    background-color: silver;
    height: 100%;
    margin: 0;
}


.container-fluid {
    height: 100%;
}


